.box{
	width:500px;
	height:500px;
	border:1px solid black;
  margin:0 auto;
  color:white;
  margin-top: 100px;
}
.block{
	width:48px;
	height:48px;
	border:1px solid black;
	float: left;
  color:white;
}
.red{
	background:url(../img/af27dc8457f7c5ad9ecd255c28d3cc12.png);
  background-size: 100% 100%;
}
.blue{
	background:blue;
}
.yellow{
	background:yellow;
}
.pink{
	background:pink;
}
.green{
	background:#238488;
}
.lei{
	background:pink;

}
.scale{
	-webkit-animation:suofang .5s ease;

}
@-webkit-keyframes suofang{
   0%,100%{
   	transform:scale(1,1);
   }
   50%{
    transform:scale(1.3,1.3); 
   }
}
.box{
  background:url(../img/14095351412aef5015ff9f3bfa60e094.jpg) no-repeat;
  background-size: 160%;
  position:relative;
}
.begin{
  width:200px;
  height:100px;
  position: absolute;
  left:50%;
  top:50%;
  color:black;
  background:;
}
body{
  margin:0;
  padding:0;
  background:url(../img/0335cf89c529713cae974496225256a7.jpg);
  background-size: 100%;

}
.start{
  width:150px;
  height:50px;
  color:white;
  font-size: 30px;
  position: absolute;
  left:20%;
  top:20%;
  background:blue;
  /*border:1px solid blue;*/
}